<div class="form-container">
  <div class="row mt-4 mb-4 text-center">
    <h2>Add fighter</h2>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Full Name</label><br>
        <input type="text" class="form-control" [(ngModel)]="fighter.fullName">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Age</label><br>
        <input type="text" class="form-control" [(ngModel)]="fighter.age">
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Weightclass</label><br>
        <!-- <input type="text" class="form-control" [(ngModel)]="fighter.weightclass"> -->
        <select class="form-select" id="weightclass" [(ngModel)]="fighter.weightclass">
          <option value="Heavyweight" selected>Heavyweight - No weight limit</option>
          <option value="Light Heavyweight">Light Heavyweight &lt; 95 kg</option>
          <option value="Middleweight">Middleweight &lt; 84 kg</option>
          <option value="Welterweight">Welterweight &lt; 77 kg</option>
          <option value="Lightweight">Lightweight &lt; 70 kg</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Record <span class="small text-muted">Wins-Losses-Draws (KOs)</span></label><br>
        <input type="text" class="form-control" [(ngModel)]="fighter.record" placeholder="ex: 60-10-0 (20 KO)">
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Country</label><br>
        <input type="text" class="form-control" [(ngModel)]="fighter.country">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Picture link</label><br>
        <input type="text" class="form-control" [(ngModel)]="fighter.picture">
      </div>
    </div>

  </div>

  <div class="row mb-4 change" *ngIf="added">
    <div class="col-12 text-success">
      Added successfully.
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="submit text-center">
        <button class="btn-add" (click)="add()"><img src="../../assets/icons-add-.png" alt="Add"></button>
      </div>
    </div>
  </div>
</div>