<!-- <li [ngClass]=" { 'list-group-item': true}">
  <div class="row">
    <div class="col-2">
      <img class="affiche img-fluid img-responsive" [src]="fighterPicture">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3>fighter : {{ fighterFullName }}</h3>
        </div>
        <div class="col-12 col-sm-6">
          Age: {{ fighterAge }}
        </div>
      </div>
      <button class="btn btn-outline-success">Regarder</button> <br>
      <button class="btn btn-outline-info">Switch</button>
      <button class="btn btn-outline-success" (click)="onWatchFilm()">Regarder</button> <br>
      <button class="btn btn-outline-info" (click)="onSwitch()">Switch</button> 
    </div>
    <div class="col-2">
      <a [routerLink]="['/edit', id]" class="btn btn-warning">M</a>
      <button class="btn btn-danger">X</button> 
      <button class="btn btn-danger" (click)="supp()">X</button>

    </div>
  </div>
</li> -->

<div class="box">
  <div class="weightClass">
    <p>{{fighterWeightclass}}</p>
  </div>
  <img [src]='fighterPicture' alt="">
  <div class="action-buttons">
    <a [routerLink]="['/edit', id]" class="btn edit">
      <img src="../../assets/icons-edit.png" alt="">
    </a>
    <button class="btn delete" (click)="delete()">
      <img src="../../assets/icons-delete.png" alt="">
    </button>
  </div>
  <div class="info">
    <div class="content">
      <h2 class="name">{{fighterFullName}} </h2>
      <p class="record"> Age : {{fighterAge}}</p>
      <p class="record">{{fighterRecord}}</p>
      <p class="country">{{fighterCountry}}</p>
    </div>
  </div>
</div>